body {
				font-family: Helvetica, Arial, sans-serif;
				color: #665544;
				padding: 22px;}
			h1, h2, p {
				padding: 12px;
				line-height: 2em;}
			i, a, a:hover, a:visited {
				color: #665544;}
