* {
	font-family: 'IndieFlowerRegular';
  	font-weight: normal;
  	font-style: normal;
	text-align: center;}

body {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-image: url("https://cdn.pixabay.com/photo/2019/07/26/02/03/mount-rainier-4363768_960_720.jpg");
	background-size:cover;
	background-position: center;
	background-repeat:no-repeat;}

#nav {
	background-color: #06283D;
	padding: 0.5em 0;
	margin: 1%;
	display: inline;
	padding: 0.5em;}

#content {
	overflow: auto;}


#feature {
	background-color: #FFA1CF;
	margin: 1%;
	height: 10em;
	margin-bottom: 1em;
	text-align: center;
	background-image: url("https://cdn.pixabay.com/photo/2018/01/31/05/30/panoramic-3120304_960_720.jpg");
	background-size:cover;
	background-position: center;
	background-repeat:no-repeat;}


#column1 {
	width: 10%;
	float: left;
	margin: 1%;
	height: 10em;
	margin-bottom: 1em;
	background-color: #256D85;}
	
#column2 {
	width: 10%;
	float: left;
	margin: 1%;
	height: 10em;
	margin-bottom: 1em;
	background-color: #47B5FF;}
	
#column3 {
	width: 10%;
	float: left;
	margin: 1%;
	margin-right: 0%;
	height: 10em;
	margin-bottom: 1em;
	background-color: #DFF6FF;}


#footer {
	background-color: #06283D;
	padding: 0.5em 0;
	margin: 1%;
	text-align: center;}
