*{
 height:100%;
}
#left {
float:left;
 border-style:solid;
 border-width:1px;
width:35%;
margin-top: 5%;
 margin-bottom: 5%;
 margin-right: 5%;
 margin-left: 5%;
 background-color: blue;
}
#right {
border-style:solid;
border-width:1px;
float: right;
width:35%;
display:block;
margin-top: 5%;
 margin-bottom: 5%;
 margin-right: 5%;
 margin-left: 5%;
 background-color:green;
}
