body {
background-image:url("https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_960_720.jpg");
}
#title {
position:fixed;
top:0px;
left:0px;
padding:10px;
margin:0px;
width:100%;
background-color: #D6CDA4;
text-align:center;
z-index:10;
font-family: 'JustLettersMedium';
font-weight: normal;
font-style: normal;
font-size:36px;
}

img {
margin-left: 5px;
margin-top:10px;
}

#container {
margin-top:10%;
margin-left:10%;
margin-right:10%;
margin-bottom:10%;
}

.row{
position:relative;
margin-left:10%;
margin-right:10%;
}

.white{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:white;
float:left;
}

.black{
border: 1px solid black;
width: 10%;
height: 60px;
background-color:#787878;
float:left;
}

.clear{
clear: both;
} 


#footer {
border:solid 1px;
padding: 10px;
margin:10px;
background-color:#D6CDA4;
text-align:center;
}

