 body {
    height: 200px;
    background-image: url("https://cdn.pixabay.com/photo/2016/02/24/15/27/paint-1220087_1280.jpg");
    background-size: cover;
    text-align: center;
  }

  .dot {
    height: 8px; width: 8px;
    border-radius: 4px; /* rounds corners */
    background: deeppink;
    position: absolute;
  }

p {
    text-align: end;
}
